config UBRIDGE
	tristate "Simplified Ethernet Bridge"
	depends on BRIDGE
	default y

config FAST_NAT
	bool "Fast NAT support"
	depends on NETFILTER
	default y

config NTCE_MODULE
	tristate "NTCE module support"
	default y

config NETFILTER_FP_SMB
	bool "Netfilter fastpath to speedup SMB traffic (skip NF handlers)"
	depends on NETFILTER
	default y

config NETFILTER_XT_NDMMARK
	tristate 'ndmmark target and match support'
	depends on NETFILTER_XTABLES
	default m if NETFILTER_ADVANCED=n

config NETFILTER_XT_CONNNDMMARK
	tristate 'ctndmmark target and match support'
	depends on NF_CONNTRACK
	depends on NETFILTER_XTABLES
	depends on NETFILTER_ADVANCED
	select NF_CONNTRACK_MARK
