menuconfig WIFI_DRIVER
	bool "Wi-Fi driver support"

if WIFI_DRIVER

choice
	prompt "Choose first Wi-Fi interface"

	config FIRST_IF_NONE
	bool "None"

	config FIRST_IF_MT7628
	bool "MT7628/MT7688"
	depends on RALINK_MT7628
	select MT_MAC

	config FIRST_IF_MT7622
	bool "MT7622"
	depends on MACH_MT7622
	select MT_MAC
	select WIFI_MT_MAC
	select CHIP_MT7622

	config FIRST_IF_MT7602E
	bool "MT7602E"
	depends on RALINK_MT7621
	select RLT_MAC
	select RALINK_MT7612E

	config FIRST_IF_MT7603E
	bool "MT7603E/MT7592N"
	depends on (RALINK_MT7621 || ECONET_EN75XX_MP || MACH_MT7623)
	select MT_MAC
	select WIFI_MT_MAC
	select CHIP_MT7603E

	config FIRST_IF_MT7615E
	bool "MT7615E"
	depends on (RALINK_MT7621 || ECONET_EN75XX_MP || MACH_MT7623)
	select MT_MAC
	select WIFI_MT_MAC
	select CHIP_MT7615E
endchoice

choice
	prompt "EEPROM type of 1st card"
	depends on ! FIRST_IF_NONE

	config FIRST_IF_EEPROM_PROM
	bool "EEPROM"

	config FIRST_IF_EEPROM_EFUSE
	bool "EFUSE"

	config FIRST_IF_EEPROM_FLASH
	bool "FLASH"
endchoice

choice
	prompt "PA & LNA type of 1st card"
	depends on (FIRST_IF_MT7615E || FIRST_IF_MT7622)

	config FIRST_IF_EPAELNA
	bool "ePA/eLNA"

	config FIRST_IF_IPAILNA
	bool "iPA/iLNA"

	config FIRST_IF_IPAELNA
	bool "iPA/eLNA"
endchoice

choice
	prompt "Choose second Wi-Fi interface"

	config SECOND_IF_NONE
	bool "None"

	config SECOND_IF_MT7610E
	bool "MT7610E"
	select RLT_MAC
	select RALINK_MT7610E

	config SECOND_IF_MT7612E
	bool "MT7612E"
	select RLT_MAC
	select RALINK_MT7612E

	config SECOND_IF_MT7613E
	bool "MT7613E"
	select MT_MAC
	select WIFI_MT_MAC
	select CHIP_MT7663E

	config SECOND_IF_MT7615E
	bool "MT7615E"
	select MT_MAC
	select WIFI_MT_MAC
	select CHIP_MT7615E
endchoice

choice
	prompt "EEPROM type of 2nd card"
	depends on ! SECOND_IF_NONE

	config SECOND_IF_EEPROM_PROM
	bool "EEPROM"

	config SECOND_IF_EEPROM_EFUSE
	bool "EFUSE"

	config SECOND_IF_EEPROM_FLASH
	bool "FLASH"
endchoice

choice
	prompt "PA & LNA type of 2nd card"
	depends on (SECOND_IF_MT7613E || SECOND_IF_MT7615E)

	config SECOND_IF_EPAELNA
	bool "ePA/eLNA"

	config SECOND_IF_IPAILNA
	bool "iPA/iLNA"

	config SECOND_IF_IPAELNA
	bool "iPA/eLNA"
endchoice

config RT_FIRST_CARD
	int
	depends on ! FIRST_IF_NONE
	default 7628 if FIRST_IF_MT7628
	default 7622 if FIRST_IF_MT7622
	default 7602 if FIRST_IF_MT7602E
	default 7603 if FIRST_IF_MT7603E
	default 7615 if FIRST_IF_MT7615E

config RT_SECOND_CARD
	int
	depends on ! SECOND_IF_NONE
	default 7610 if SECOND_IF_MT7610E
	default 7612 if SECOND_IF_MT7612E
	default 7613 if SECOND_IF_MT7613E
	default 7615 if SECOND_IF_MT7615E

config RT_FIRST_IF_RF_OFFSET
	hex "EEPROM offset of 1st card"
	depends on ! FIRST_IF_NONE
	default 0x0

config RT_SECOND_IF_RF_OFFSET
	hex "EEPROM offset of 2nd card"
	depends on ! SECOND_IF_NONE
	default 0x8000

config RT_FIRST_CARD_EEPROM
	string
	depends on ! FIRST_IF_NONE
	default "prom" if FIRST_IF_EEPROM_PROM
	default "efuse" if FIRST_IF_EEPROM_EFUSE
	default "flash" if FIRST_IF_EEPROM_FLASH

config RT_SECOND_CARD_EEPROM
	string
	depends on ! SECOND_IF_NONE
	default "prom" if SECOND_IF_EEPROM_PROM
	default "efuse" if SECOND_IF_EEPROM_EFUSE
	default "flash" if SECOND_IF_EEPROM_FLASH

config RTMP_MAC
	bool

config RLT_MAC
	bool

config MT_MAC
	bool

config RTMP_RBUS_SUPPORT
	bool

config RTMP_PCI_SUPPORT
	bool

config RTMP_USB_SUPPORT
	bool

config MULTI_INF_SUPPORT
	bool
	default y if (RTMP_RBUS_SUPPORT && RTMP_PCI_SUPPORT)

config RALINK_MT7610E
	bool
	select RTMP_PCI_SUPPORT

config RALINK_MT7612E
	bool
	select RTMP_PCI_SUPPORT

config CHIP_MT7603E
	bool
	select RTMP_PCI_SUPPORT

config CHIP_MT7663E
	bool
	select RTMP_PCI_SUPPORT

config CHIP_MT7615E
	bool
	select RTMP_PCI_SUPPORT

config CHIP_MT7622
	bool
	select RTMP_RBUS_SUPPORT

if RALINK_MT7628
menu "MediaTek MT7628/MT7688 RBUS Wireless driver"
source "ndm/mt7628_ap/Kconfig"
source "ndm/mt7628/Kconfig"
endmenu
endif

menu "MediaTek MT7620/MT7602E/MT7612E RBUS/PCIe Wireless driver"
source "ndm/mt76x2_ap/Kconfig"
source "ndm/mt76x2/Kconfig"
endmenu

menu "MediaTek MT7603E/MT7592N PCIe Wireless driver"
source "ndm/mt7603_ap/Kconfig"
source "ndm/mt7603/Kconfig"
endmenu

menu "MediaTek MT7610E PCIe Wireless driver"
source "ndm/mt7610_ap/Kconfig"
endmenu

menu "MediaTek MT7613E PCIe Wireless driver"
source "ndm/mt7613_ap/Kconfig"
source "ndm/mt7613/Kconfig"
endmenu

menu "MediaTek MT7622/MT7615E RBUS/PCIe Wireless driver"
source "ndm/mt7615_ap/Kconfig"
source "ndm/mt7615/Kconfig"
endmenu

menu "Common Wi-Fi settings"
config ATE_SUPPORT
	bool "ATE/QA Support"
	default n

config WIFI_DEBUG_SUPPORT
	bool "Debug Mode Support"
	default n

config WIFI_MEMORY_OPTIMIZATION
	bool "Memory Optimization (< 64MB RAM)"
	default n

config WIFI_SKB_RECYCLE
	bool "SKB Recycle (Linux)"
	default n

config WIFI_WORK_QUEUE
	bool "Use BH Workqueue (instead of Tasklets)"
	default n

#config WIFI_PKT_FWD
#	bool "WiFi packet forwarding"
#	default n

#source "drivers/net/wireless/wifi_forward/wifi_fwd/Kconfig"
endmenu

endif # WIFI_DRIVER

