if (MT7916_AP || MT7916_STA)

comment "MT7981/MT7986/MT7916 common settings"

config MT7916_DBDC_MODE
	bool "DBDC mode support"
	default y

config MT7916_MULTI_PROFILE_SUPPORT
	bool "Multi Profile Support"
	depends on MT7916_DBDC_MODE
	default n

config MT7916_DEFAULT_5G_PROFILE
	bool "5G default profile for DBDC"
	depends on MT7916_DBDC_MODE
	default y

config MT7916_6G_SUPPORT
	bool "6GHz support"
	default n

config MT7916_LED_CONTROL_SUPPORT
	bool "LED support"
	default y

config MT7916_LED_PHR_CONTROL_SUPPORT
	bool "Soft-LED control support (NDM phr)"
	depends on MT7916_LED_CONTROL_SUPPORT
	default y

config MT7916_WSC_INCLUDED
	bool "WSC (WiFi Simple Config) support"
	default y

config MT7916_WSC_V2_SUPPORT
	bool "WSC V2 (WiFi Simple Config v2.0)"
	depends on MT7916_WSC_INCLUDED
	default y

config MT7916_DOT11_VHT_AC
	bool "802.11ac support"
	default y

config MT7916_DOT11_HE_AX
	bool "802.11ax support"
	depends on MT7916_DOT11_VHT_AC
	default y

config MT7916_G_BAND_256QAM_SUPPORT
	bool "2.4G 256QAM support"
	depends on MT7916_DOT11_VHT_AC
	default y

config MT7916_MUMIMO_SUPPORT
	bool "MU-MIMO support"
	default y

config MT7916_MU_RA_SUPPORT
	bool "MU-RGA support"
	depends on MT7916_MUMIMO_SUPPORT
	default y

config MT7916_DOT11W_PMF_SUPPORT
	bool "802.11w PMF (Protected Management Frames)"
	default y

config MT7916_DOT11R_FT_SUPPORT
	bool "802.11r Fast BSS Transition"
	default y

config MT7916_DOT11K_RRM_SUPPORT
	bool "802.11k Radio Resource Management"
	default y

config MT7916_DOT11V_WNM_SUPPORT
	bool "802.11v Wireless Network Management"
	default y

config MT7916_DOT11U_GAS_SUPPORT
	bool "802.11u Interworking/Gas Support"
	default n

config MT7916_TPC_SUPPORT
	bool "802.11h TPC support"
	default n

config MT7916_DFS_SUPPORT
	bool "802.11h DFS support"
	default n

config MT7916_BACKGROUND_SCAN_SUPPORT
	bool "Background Channels Scan support"
	default n

config MT7916_TXBF_SUPPORT
	bool "Tx Beam Forming support"
	default y

config MT7916_SMART_CARRIER_SENSE_SUPPORT
	bool "Smart Carrier Sense support"
	default y

config MT7916_TCP_RACK_SUPPORT
	bool "TCP Reduced ACK support"
	default n

config MT7916_NETLINK_SUPPORT
	bool "Netlink communication support"
	default y

config MT7916_SINGLE_SKU
	bool "Single SKU V2 support"
	default y

config MT7916_SNIFFER_SUPPORT
	bool "SNIFFER support"
	default n

#config MT7916_RF_LOCKDOWN_SUPPORT
#	bool "Single SKU RF lockdown support"
#	depends on MT7916_SINGLE_SKU
#	default n

config MT7916_WHNAT_SUPPORT
	tristate "Wifi Warp Hardware NAT support"
	depends on MACH_EN7523 || MACH_MT7622 || MACH_MT7981 || MACH_MT7986
	default m

config MT7916_PCIE_ASPM_DYM_CTRL_SUPPORT
	bool "PCIe ASPM Dynamic Control Support"
	depends on CHIP_MT7916
	default n

config MT7916_PCIE_MSI_SUPPORT
	bool "MSI interrupts support"
	depends on PCI_MSI
	depends on CHIP_MT7916
	default n

config MT7916_CFG80211_SUPPORT
	bool "CFG80211"
	default n

config MT7916_CUSTOMIZED_HOSTAPD
	bool "Customized Hostapd Support"
	depends on MT7916_CFG80211_SUPPORT
	default n

endif # (MT7916_AP || MT7916_STA)
