config MT7615_AP
	tristate "MT7622/MT7615E 802.11ac AP support"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

if MT7615_AP

config MT7615_MBSS_SUPPORT
	bool "MBSSID support"
	default y

config MT7615_WDS_SUPPORT
	bool "WDS support"
	default n

config MT7615_APCLI_SUPPORT
	bool "AP-Client support"
	default y

config MT7615_APCLI_ROAM_SUPPORT
	bool "AP-Client Roam support"
	default y

config MT7615_APCLI_CERT_SUPPORT
	bool "AP-Client TGN Cert support"
	depends on MT7615_APCLI_SUPPORT
	default n

config MT7615_MAC_REPEATER_SUPPORT
	bool "MAC Repeater support"
	depends on MT7615_APCLI_SUPPORT
	default n

config MT7615_CON_WPS_SUPPORT
	bool "Concurrent WPS support"
	depends on MT7615_APCLI_SUPPORT
	depends on MT7615_WSC_INCLUDED
	depends on MT7615_WSC_V2_SUPPORT
	default n

config MT7615_PASSPOINT_R2
	bool "Passpoint Release-2 support"
	select MT7615_DOT11W_PMF_SUPPORT
	default n

#config MT7615_AIRPLAY_SUPPORT
#	bool "AirPlay support"
#	default n

config MT7615_FTM_SUPPORT
	bool "FTM support"
	select MT7615_PASSPOINT_R2
	default n

config MT7615_MBO_SUPPORT
	bool "MBO support"
	select MT7615_DOT11K_RRM_SUPPORT
	select MT7615_DOT11R_FT_SUPPORT
	select MT7615_DOT11V_WNM_SUPPORT
	select MT7615_DOT11U_GAS_SUPPORT
	default n

config MT7615_OCE_SUPPORT
	bool "Optimized Connectivity Experience support"
	default n

config MT7615_MAP_SUPPORT
	bool "Multi-AP Support"
	default y

config MT7615_WAPP_SUPPORT
	bool "MTK wapp daemon support"
	default n

config MT7615_VOW_SUPPORT
	bool "MediaAir (VOW) support"
	default y

config MT7615_RED_SUPPORT
	bool "RED (Random Early Drop) support"
	default y

config MT7615_WPA3_SUPPORT
	bool "WPA3 auth support"
	default y

config MT7615_OWE_SUPPORT
	bool "Enhanced OPEN(OWE) auth support"
	depends on MT7615_WPA3_SUPPORT
	default y

config MT7615_DSCP_QOS_MAP_SUPPORT
	bool "DSCP Qos Mapping Support"
	default n

config MT7615_BAND_STEERING
	bool "Band Steering support"
	default n

#config MT7615_LLTD_SUPPORT
#	bool "LLTD (Link Layer Topology Discovery Protocol) support"
#	default n

#config MT7615_IDS_SUPPORT
#	bool "IDS (Intrusion Detection System) support"
#	default n

config MT7615_GREENAP_SUPPORT
	bool "GreenAP support"
	default n

config MT7615_IGMP_SNOOP_SUPPORT
	bool "IGMP Snooping support"
	default y

config MT7615_MCAST_RATE_SPECIFIC
	bool "User Specific Tx Rate of MCAST Packet"
	default n

config MT7615_RADIUS_ACCOUNTING_SUPPORT
	bool "Radius Accounting support"
	default n

config MT7615_ICAP_SUPPORT
	bool "Internal Capture support"
	default n

endif # MT7615_AP
