config MT7603_AP
	tristate "MT7603E/MT7592N 802.11n AP support"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

if MT7603_AP

config MT7603_MBSS_SUPPORT
	bool "MBSSID Support"
	default y

config MT7603_WDS_SUPPORT
	bool "WDS Support"
	default n

config MT7603_APCLI_SUPPORT
	bool "AP-Client Support"
	default y

config MT7603_APCLI_CERT_SUPPORT
	bool "AP-Client TGN Cert Support"
	depends on MT7603_APCLI_SUPPORT

config MT7603_MAC_REPEATER_SUPPORT
	bool "MAC Repeater Support"
	depends on MT7603_APCLI_SUPPORT
	default n

config MT7603_CON_WPS_SUPPORT
	bool "Concurrent WPS Support"
	depends on MT7603_APCLI_SUPPORT
	depends on MT7603_WSC_INCLUDED
	depends on MT7603_WSC_V2_SUPPORT
	default n

config MT7603_PASSPOINT_R2
	bool "Passpoint Release-2 Support"
	select MT7603_DOT11W_PMF_SUPPORT
	default n

config MT7603_AIRPLAY_SUPPORT
	bool "AirPlay Support"
	default n

config MT7603_BAND_STEERING
	bool "Band Steering Support"
	default n

config MT7603_LLTD_SUPPORT
	bool "LLTD (Link Layer Topology Discovery Protocol) Support"
	default n

config MT7603_IDS_SUPPORT
	bool "IDS (Intrusion Detection System) Support"
	default n

#config MT7603_COC_SUPPORT
#	bool "GreenAP Support"
#	default n

config MT7603_IGMP_SNOOP_SUPPORT
	bool "IGMP Snooping Support"
	default y

#config MT7603_MCAST_RATE_SPECIFIC
#	bool "User Specific Tx Rate of MCAST Packet"

endif # MT7603_AP
